<!DOCTYPE html>
<html>
  <head>
    <title>Post-Hit</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vector.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='key-list.js') }}"> </script>
    
    <style type="text/css">
        div.tooltip {   
            position: absolute;         
            text-align: center;         
            width: 60px;                    
            height: 28px;                   
            padding: 2px;               
            font: 12px sans-serif;      
            background: lightsteelblue; 
            border: 0px;        
            border-radius: 8px;         
            pointer-events: none;           
        }

    </style>
  </head>
  <body>
    Datasets name (seperated by a ";"):<br>
    <input type="text" id="dataset" ><br>
    <label><input type="checkbox" name="checkbox" value="phyloP100way.json">PhyloP</label>
    <label><input type="checkbox" name="checkbox" value="roadmap_epigenomic.json">Roadmap Epigenomic</label>
    <label><input type="checkbox" name="checkbox" value="ensembl.json">Ensembl</label>
    <label><input type="checkbox" name="checkbox" value="gtex.json">GTEX</label><br>
    Region (chr:start-end):<br>
    <input type="text" id="region" value="16:4003388-4166186">
    <input type="text" id="locus" value="4065583">
    <button onclick="getRegion()">Get Region!</button><br>

    <script type="text/javascript">
        function getRegion(){

            //Grabbing user input (Datasets and region)
            var datasets = [];

            var input = document.getElementById("dataset").value.split(";");
            if  (/\S/.test(input)){
                datasets.push(input);
            }
            var checkboxs = document.getElementsByName('checkbox');
            for(var i = 0; i < checkboxs.length; ++i){
                if(checkboxs[i].checked) datasets.push(checkboxs[i].value);
            }

            var region = document.getElementById("region").value;
            var locus = parseInt(document.getElementById("locus").value);


            //Creating the query URL
            var url = "http://127.0.0.1:5000/region/" + region + "?";
            
            for (i = 0; i < datasets.length; i++) {
                if (i == 0){
                    url += "dataset="+datasets[i]
                } else{
                    url += "&dataset="+datasets[i]
                }
            }

            //REST Query with D3 and calling proper function (vector or key_list)
            d3.json(url, function(error, data) {
                if (error) console.log(error);
                for (var dataset_key in data.response){
                    var data_obj = data.response[dataset_key];
                    if (data_type(data_obj) == "vector") vector(data_obj, region, 100, dataset_key, locus);
                    if (data_type(data_obj) == "key-list") key_list(data_obj, region, dataset_key, locus);

                }
            });

        }

        //Function that checks if the data's format (key-list or vector)
        function data_type(data){
            for (var key in data) break;
                if (data[key] != "undefined")
                    {if (typeof data[key][0] == 'number'){
                            return "vector";
                        }
                        return "key-list";}
        }

        function vector(data, region, smooth = 0, dataset_name, locus){

            //All the variable needed to create the graph
            for (var key in data){data = data[key]}
            var outerWidth = 1000;
            var outerHeight = 500;
            var margin = { left: 30, top: 30, right: 30, bottom: 65 };
            var region = region;

            var start = +region.split(":")[1]
                              .split("-")[0];

            var end = +region.split("-")[1];
            var idx = 0;

            var data_format = Array(end-start +1)
            for (i = 0; i < data_format.length; i++){
                data_format[i] = {"y": data[i], "x": start+i}
            }
            data = data_format

            //Smoothing function
            function smoothing(data, smooth_val){
                idx = smooth_val;
                smooth_data = [];
                function sub_mean(data, left, right){
                    sum_x = 0;
                    sum_y = 0;
                    div = right-left
                    while (left < right){
                        sum_x += data[left].x;
                        sum_y += data[left].y;
                        left += 1;
                    }
                    return {"x" : sum_x / div, "y" : sum_y / div}
                }
                while (idx + smooth_val < data.length){
                    smooth_data.push(sub_mean(data, idx - smooth_val, idx + smooth_val))
                    idx += 1
                }
                return smooth_data
            }

            if (smooth > 0){
               data = smoothing(data, smooth)
            }

            //D3 Graph variable
            var svg = d3.select("body").append("svg")
                .attr("width",  outerWidth)
                .attr("height", outerHeight);

            var g = svg.append("g")
                .attr("transform", "translate(" + (margin.left + 25)  + "," + margin.top + ")");

            var g_labels = svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var path = g.append("path")
                        .attr('stroke-width', '1px')
                        .attr('stroke', 'black')
                        .attr('fill', 'none');
            
            var innerWidth  = outerWidth  - margin.left - margin.right;
            var innerHeight = outerHeight - margin.top  - margin.bottom;

            var xAxisG = g.append("g")
                .attr("transform", "translate(0," + innerHeight + ")");
            var yAxisG = g.append("g");

            var xScale = d3.scaleLinear()
                            .range([0, innerWidth]);
            var yScale = d3.scaleLinear()
                            .range([innerHeight, 0]);

            var xAxis = d3.axisBottom(xScale)
                            .ticks(5, d3.format("e"));
            var yAxis = d3.axisLeft(yScale);

            var line = d3.line()
                .x(function(d) { return xScale(d.x); })
                .y(function(d) { return yScale(d.y); });


            //Rendering function for the graph
            function render(data, locus, dataset_name){
                yDomain = d3.extent(data, function(d){return d.y;});
                xScale.domain(d3.extent(data, function(d){return d.x;}));
                yScale.domain(yDomain);

                xAxisG.call(xAxis);
                yAxisG.call(yAxis);

                var locusLine = g.append("line");

                var locusLineAttributes = locusLine
                                            .attr("x1", function (d) { return xScale(locus); })
                                            .attr("x2", function (d) { return xScale(locus); })
                                            .attr("y1", function (d) { return yScale(yDomain[0]); })
                                            .attr("y2", function (d) { return yScale(yDomain[1]); })
                                            .attr("stroke-width", 2)
                                            .attr("stroke", "black")
                                            .attr("stroke-dasharray","10,10");

                path.attr("d", line(data));

                svg.append("text")
                    .attr("x", (outerWidth / 2))             
                    .attr("y", 20)
                    .attr("text-anchor", "middle")  
                    .style("font-size", "16px") 
                    .style("text-decoration", "underline")
                    .style("color", "black")  
                    .text(dataset_name);

                svg.append("text")
                    .attr("text-anchor", "middle") 
                    .attr("transform", "translate("+ (outerWidth/2) +","+(outerHeight-(margin.bottom/3))+")")  
                    .text(region);
                    
                }

            render(data, locus, dataset_name)

            
        }

        //Graphs key-list format data
        function key_list(data, region, dataset_name, locus, metadata = null){

            //Base variable needed for the graph
            var locus = locus;
            var region = region;
            var outerWidth = 1000;
            var outerHeight = get_height(data);
            var margin = { left: 30, top: 30, right: 30, bottom: 65 };
            var start = +region.split(":")[1]
                              .split("-")[0];

            var end = +region.split("-")[1];
            var legend_width = 150;


            //Graph variable
            var svg = d3.select("body").append("svg")
                .attr("width",  outerWidth)
                .attr("height", outerHeight);

            var innerWidth  = outerWidth  - margin.left - margin.right - legend_width;
            var innerHeight = outerHeight - margin.top  - margin.bottom ;

            var g = svg.append("g")
            .attr("transform", "translate(" + (margin.left + 25)  + "," + margin.top + ")");

            var g_labels = svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var g_legend = svg.append("g")
                .attr("transform", "translate(" + (innerWidth + margin.right + margin.left) + "," + margin.top + ")");


            var xAxisG = g.append("g")
                .attr("transform", "translate(0," + (innerHeight +5) + ")");
            var yAxisG = g.append("g");

            var xScale = d3.scaleLinear()
                            .range([0, innerWidth]);
            var yScale = d3.scaleLinear()
                            .range([innerHeight, 0]);

            var xAxis = d3.axisBottom(xScale)
                            .ticks(5, d3.format("e"));
            var yAxis = d3.axisLeft(yScale);

            var div = d3.select("body").append("div")   
                    .attr("class", "tooltip")               
                    .style("opacity", 0);

            //Formating data to easily use it in the graph
            var restructured_data = Array();
            idx = 0;
            y_idx = 0;
            colors = {};
            labels_data = []
            var points = true;
            for (var key in data){
                labels_data.push({"label":key, "x": start, "y":y_idx, "color": get_color(dataset_name, key, true)});
                raw_data = data[key];
                restructured_data.length += raw_data.length;

                for(i = 0; i < raw_data.length; i++){
                    for (var key in raw_data[i][0]) var id = raw_data[i][0][key];
                     points = points && (raw_data[i][1] == raw_data[i][2]) 
                    restructured_data[i + idx] = {"x1":raw_data[i][1], "x2":raw_data[i][2], "y1" : y_idx, "y2" : y_idx, "color" : get_color(dataset_name, id), "list":raw_data[i][0], 
                                                    "name":id}
                }
                y_idx += 1;
                idx = restructured_data.length;
            }

            legend_data = []
            y = 0;
            spacer = Math.floor(innerHeight/ Object.keys(colors).length)
            for (var key in colors){
                legend_data.push({"name":key, "color": colors[key], "x":0, "y":y+=spacer})
            }
            
            legend_data.sort(function(a,b) {
                if(a.color < b.color){return -1;}
                if(a.color > b.color){return 1;}
                return 0;
            });

            console.log("legend_data")
            console.log(legend_data)

            //Rendering the graph
            render(restructured_data, labels_data, legend_data, points, locus)


            function render(data, labels_data, legend_data, points, locus){
                yDomain = d3.extent(data, function(d){return d.y1;});
                yScale.domain(yDomain);
                xScale.domain([start, end]);

                xAxisG.call(xAxis);
                
                //If the values are points (eQTL)
                if(points){
                    var points = g.selectAll("circle")
                                    .data(data)
                                    .enter()
                                    .append("circle");

                    var point = g.append("circle");

                    var pointsAttributes = points
                                        .attr("r", 2)
                                        .attr("cx", function (d) { return xScale(d.x1); })
                                        .attr("cy", function (d) { return yScale(d.y1); })
                                        .style("fill", function (d) { return d.color; })
                                        .on("mouseover", function(d){div.transition()        
                                                                        .duration(200)      
                                                                        .style("opacity", .9);      
                                                                    div.html(function(){
                                                                        string = "";
                                                                        for(key in d.list) string += d.list[key] + " ";
                                                                        return string
                                                                    })  
                                                                        .style("left", (d3.event.pageX) + "px")     
                                                                        .style("top", (d3.event.pageY - 28) + "px");

                                                                    point.transition()
                                                                            .attr("cx", xScale(d.x1))
                                                                            .attr("cy", yScale(d.y1))
                                                                            .attr("r", 5)
                                                                            .style("fill", "red");
                                                                    })
                                        .on("mouseout", function(d){ div.transition()        
                                                                        .duration(500)      
                                                                        .style("opacity", 0);
                                                                    point.transition()
                                                                            .attr("cx", xScale(d.x1))
                                                                            .attr("cy", yScale(d.y1))
                                                                            .attr("r", 0)
                                                                            .style("fill", d.color);
                                                                    });


                }else{

                    var lines = g.selectAll("line")
                                        .data(data)
                                        .enter()
                                        .append("line");

                    var lineAttributes = lines
                                            .attr("x1", function (d) { return xScale(d.x1); })
                                            .attr("x2", function (d) { return xScale(d.x2); })
                                            .attr("y1", function (d) { return yScale(d.y1); })
                                            .attr("y2", function (d) { return yScale(d.y2); })
                                            .attr("data-legend",function(d) {return d.name})
                                            .attr("stroke-width", 5)
                                            .attr("stroke", function(d) { return d.color; });
                    var legendBox = g_legend.selectAll("rect")
                                      .data(legend_data)
                                      .enter()
                                      .append("rect")

                    var legendBoxAttribute = legendBox
                                                .attr("x", function(d) { return d.x; })
                                                .attr("y", function(d) { return (d.y - 10); })
                                                .attr("width", 10)
                                                .attr("height", 10)
                                                .style("fill", function(d) { return d.color})
                                                .style("stroke", "black")
                                                .style("stroke-width", 1);



                    var legendText = g_legend.selectAll("text")
                                          .data(legend_data)
                                          .enter()
                                          .append("text")

                    var legendTextAttributes = legendText
                                            .attr("x", function(d) { return (d.x + 15); })
                                            .attr("y", function(d) { return d.y; })
                                            .text( function (d) { return d.name; })
                                            .attr("font-family", "sans-serif")
                                            .attr("font-size", 10);
                }

                var labels = g_labels.selectAll("text")
                        .data(labels_data)
                        .enter()
                        .append("text");

                var labelsAttributes = labels
                    .attr("x", function(d) { return xScale(d.x); })
                    .attr("y", function(d) { return yScale(d.y); })
                    .text( function (d) { return d.label; })
                    .attr("font-family", "sans-serif")
                    .attr("font-size", 5)
                    .attr("fill", function(d) { return d.color});

                var locusLine = g.append("line");

                var locusLineAttributes = locusLine
                                            .attr("x1", function (d) { return xScale(locus);})
                                            .attr("x2", function (d) { return xScale(locus);})
                                            .attr("y1", function (d) { return yScale(yDomain[0]); })
                                            .attr("y2", function (d) { return yScale(yDomain[1]+1); })
                                            .attr("stroke-width", 1)
                                            .attr("stroke", "black")
                                            .attr("stroke-dasharray","10,10");

                svg.append("text")
                    .attr("x", (outerWidth / 2))             
                    .attr("y", 20)
                    .attr("text-anchor", "middle")  
                    .style("font-size", "16px") 
                    .style("text-decoration", "underline")
                    .style("color", "black")  
                    .text(dataset_name);

                svg.append("text")
                    .attr("text-anchor", "middle") 
                    .attr("transform", "translate("+ (outerWidth/2) +","+(outerHeight-(margin.bottom/3))+")")  
                    .text(region);



            }

            function get_color(dataset_name, id, label = false){
                if (id in colors)
                    {return colors[id];}
                url = "/resources/"+ dataset_name + "?id=" + id;
                var Httpreq = new XMLHttpRequest(); // a new request
                Httpreq.open("GET", url ,false);
                Httpreq.send(null);
                if (JSON.parse(Httpreq.responseText).color != undefined){
                    if (!label) colors[id] = JSON.parse(Httpreq.responseText).color;
                    return JSON.parse(Httpreq.responseText).color;
                }else{
                    if (!label) colors[id] = "#000000";                 
                    return  "#000000"
                };
            }

            function get_height(data){
                count_key = 0;
                for (key in data){
                    count_key++;
                }   
                return Math.min(count_key * 100, 500)
            }

        }

    </script>


  </body>
</html>