<!DOCTYPE html>
<html>
  <head>
    <title>Post-Hit</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <?php header('Access-Control-Allow-Origin: *'); ?>
  </head>
  <body>
    Datasets name (seperated by a ";"):<br>
    <input type="text" id="dataset" value="gtex.json" ><br>
    Region (chr:start-end):<br>
    <input type="text" id="region" value="19:45819671-45826235">
    <button onclick="getRegion()">Get Region!</button>

    <p id="message"></p>

    <script type="text/javascript">
        function getRegion(){

            var datasets = document.getElementById("dataset").value.split(";");
            var region = document.getElementById("region").value;


            var url = "http://127.0.0.1:5000/region/" + region + "?";
            for (i = 0; i < datasets.length; i++) {
                if (i == 0){
                    url += "dataset="+datasets[i]
                } else{
                    url += "&dataset="+datasets[i]
                }
            }

            var json = d3.json(url, function(error, data) {
              console.log(data);
            });


            document.getElementById("message").innerHTML = url;
            document.getElementById("message").innerHTML = json;


            // var client = new XMLHttpRequest();
            // client.open("GET", url, true);

            // if (xhr.status == 200)
            //     alert("The request succeeded!\n\nThe response representation was:\n\n" + xhr.responseText)
            // else
            //     alert("The request did not succeed!\n\nThe response status was: " + xhr.status + " " + xhr.statusText + ".");
        }
        function printResult(result){
            document.getElementById("message").innerHTML = "done";
            document.getElementById("message").innerHTML = result;
        }

    </script>


  </body>
</html>
